/* цевет основного текста color: color: #757575 */
/* цвет вторичного текста color: #212121; */
/* бэкграунд background: #E5E5E5 */
/*  бэкграунж вторичный #F5F4FA */
/* акцент color: #2196F3 */
/* белый color: #FFFFFF */
/* цвет подписи в футере, почта + тел color: rgba(255, 255, 255, 0.4) */
:root {
  --primaty-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --text-address-color-footer: rgba(255, 255, 255, 0.6);
  --copyright-color: rgba(255, 255, 255, 0.4);
}
body {
  background-color: #ffffff;
  color: var(--primaty-text-color);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Site nav */

.site-nav .link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.nav-tittle {
  color: var(--tittle-text-color);
}

/* auth-nav */

.auth-nav .link {
  color: var(--primaty-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-tittle {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Преимущества */
.features-tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимемся */
.example-tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Команда */
.team-tittle,
.team-name {
  color: var(--tittle-text-color);
}
.team-profession {
  color: var(--primaty-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-social .link:hover,
.team-social .link:focus {
  color: var(--accent-color);
}

.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Постоянные клиенты */
.clients-tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-link .link:hover,
.clients-link .link:focus {
  color: var(--accent-color);
}

/* button! */
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Footer */
.logo-white {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;

  letter-spacing: 0.03em;
}

.address-str {
  color: var(--primary-white-color);
}

.address-contact {
  color: var(--text-color-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.invite {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.copyright {
  color: var(--copyright-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-link .link:hover,
.social-link .link:focus {
  color: var(--accent-color);
}

/* PORTFOLIO!! */
.btn .button:hover,
.btn .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.work .work-tittle {
  color: var(--tittle-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.06em;
}

.work .work-text {
  color: var(--primaty-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
